= simple_form_for @bolo, as: :bolo, html: { class: "form-horizontal" },
                                    wrapper: :horizontal_form do |f|
  = f.error_notification

  .form-inputs
    = f.input :item_id

  .form-actions
    = f.button :submit, class: "btn btn-primary"
