- title "WoW Auctions"

%br
.row
  .col-sm-6.col-sm-offset-1
    %table.table.table-bordered
      %thead
        %tr
      %tbody
        %tr
          %td Auctions In Progress
          %td= Wow::Auction.where(status: 'in_progress').count
        %tr
          %td Auctions Sold
          %td= Wow::Auction.where(status: 'sold').count
        %tr
          %td Auctions Expired
          %td= Wow::Auction.where(status: 'expired').count
        %tr
          %td Total Auctions
          %td= Wow::Auction.count
